<p class="tabbed-paragraph">Hello!</p>
<p>Do you do repeated tasks often? Do you do them at computer? I did also. Then I got an idea. I made a program to do these little things for me. It saved me few hours each day at my work. I offer this to you also. Considering my services very cheap with joy doing it - data mining programs, programs changing data formats, editing data programs, generating programs all based on a concrete deal. Such basic programs for about 50 $.</p>
<p>My girlfriend took the marketing for this idea so what is left is just to send us a message ;-).</p>