p.tabbed-paragraph Hello!
p Any feedback is welcome. Either about visual look, practical use, teaching skills,
  suggestions how to make things better, anything ;-).
p The message may be anonymous, just skip the Email field.
p In positive cases I hope you don't mind if I use the message as a reference for the site