- provide(:title, 'About')
- provide(:sphere, 'Lessons')
.visible-content
  h4 Welcome!!
  p I am glad you found this site and visited! :-).
  p.question Who am I?
  p I am Josef Erneker, nickname Joe, in Czech you also may call me Pepa.
  p I am a chess master, I used to play in the highest league in Czech Republic - Extraliga. I gave up ambitions in chess
    for more time and focus in other fields. I am a programmer now and interested in many other fields. I teach kids and
    even adults from 2008 in chess clubs, schools and as individuals.
  p You may find information about me on
    #{link_to 'LinkedIn', 'cz.linkedin.com/pub/josef-erneker/45/966/80b/'} or
    #{link_to 'facebook', 'https://www.facebook.com/josef.erneker'}.
    If you would like to know something, please, #{link_to 'contact me', teaching_contact_path}!
  p.question What may be of interest for you here?
  p Generally lessons for kids and adults.
      My primary field of teaching has been chess. Anyway it has happened that I teach in more fields now. I prefer technical fields but
      there is no limit as long as I know the matter and have a good guideline aside.
  p.question What is this site?
  p This site is a helper to my teaching activities. You may find here under reservations my synchronised
    calendar where you may set a meeting very efficiently. Under Chess you may find topical tactics tasks and some
    famous games with commentary. There is also a price-list for private lessons. List of links I find very interesting.
    If you are content with me and my services and would find yourself in a situation for a custom-made software,
    check the #{link_to 'software section', software_path}.


  /h4 About Us
  /p Welcome! My name is Josef Erneker, nickname Joe, also in Czech you may call me Pepa.
  /p I am a chess coach for some time already, I am a guy who loves to get to know new things and principles,
  /  there is never enough time for me. I would spend it all gladly over some concepts I consider fascinating.
  /p I played chess for TJ Bohemians Praha for about 10 years, I got to play in Czech highest team league - Extraliga.
  /p I enjoyed chess as a constant challenge for my brain, after some time I can appreciate the consequences though
  /  I don't recommend playing chess professionally unless you are really into it, anyway I recommend trying it on a
  /  friendly level, especially for kids I consider it principally educative in few ways:
  /ul
  /  li It calms down a person a bit
  /  li A person learns to think more directly over things
  /  li It
  /p Programming is my hobby and occasionally also employment.
  /p I am an optimist, liberal, democrat
  /p I like dry English sense of humour
  /p My favourite series are Friends,
  /h4 What this website is?
  /p It is a webpage dedicated to teaching, to making it easier for people to reach me, influence me,
  /  letting themselves be influenced.
  /p So far it is just a template for the idea.
  /p The login system should work, so you may login, I will know about you, some message should come to you.
  /p This about page should be filled in and explanatory enough.
  /p Reservation page should look somehow, though it will not work yet.
  /p Contact page should also work already though there are really two contact pages so the chess will work in a while yet.
  /p In case something I tell here doesn't work for you, please, don't hesitate to send a report,
  /    in the footer there is a link to 'Report bug'. Just send there a message about what doesn't work if you will.
  /p Also I appreciate any feedback you are willing to share with me, check the link in the footer 'Feedback'.
  /h4 What this website should be?
  /p The vision is that through this website you will be enable to see when I am free and when already not,
  /    to reserve any free time I have, to get to know me better, to get to know about some advices which are circling
  /    through the chess community for some time already, to maybe even communicate between one another,
  /    to provide me with feedback, anonymously or not. That's kind of the general idea.
  /p Contact page should send me an e-mail when you write there and it should send you a confirmation message about that message.
  /p Feedback page should be very similar, just your e-mail is not necessary for sending a message.
  /p Report bug is again very similar, just the template of the e-mails will be slightly different.
  /p The home page should introduce me and people who are relevant and redirect you to where you maybe want.
  /p Reservations page should be interactive and should visualize my schedule and even places where
  /    I am at that time approximately, it should count the possible travelling times and offer you the most desirable times
  /    from my point of view as the less desirable ones anyway free.
  /p There should be a price-list because I want to let people know that there are also other ways in which maybe
  /    I can be useful regarding teaching kids.
  /p I would like to have here also my CV with some introduction regarding teaching along the way.
  /p I will try to make some newsletter coming which you could subscribe while signing up or anytime as well as
  /    unsubscribe of course.
  /p I think it would be nice to have at least two language versions, I picked first English because though
  /    I am not perfect in it I program in it and it is generally easier for me now and it is more universal regarding
  /    families where I teach now.
  /p Home page should contain news regarding the site as well as messages from the newsletter.
  /p Here should be a part where kids or whoever could solve some topical chess tasks.
  /    Also there should be visible to replay some of the best games so far played of which I know.
  /p Some list of recommended links should be available.


