- provide(:title, 'Learning Concepts')
.visible-content
  h4 How to Learn?
  p I was asking myself often this question, often instead of real learning procrastinated and tried to search for the
    right way. At the end of 2014 and beginning of 2015 I took a course on #{link_to 'Coursera', 'https://www.coursera.org/'} just about that.
    It is called #{link_to 'Learning How to Learn', 'https://www.coursera.org/course/learning'} and I may recommend it
    with pleasure. I learned a lot definitely. Something about how our brain works, a lot about learning concepts which
    are considered more successful and some which are considered as a total waste of time and what's more I learned why
    are they considered this way. Here I decided to cover some of the concepts.
  h4 Focused and diffuse mode
  p There are two modes of our brain between which it switches quite often. Let's call them "focused" and "diffuse" modes.
  p In the focused mode we are when we are thinking hard about some concrete problem - we are trying to solve it or
    understand it and we concentrate just on it, or at least we are trying hard to concentrate just on it :-).
    In that mode our brain works perfectly in some specific area which it already used for this problem before.
    For example on math the brain will try to use the concepts which it used before for math. This is very good and
    efficient for problems we already have solved before - the same type of such problem we solved before - and the
    brain thus knows the way to solve it.
  p Anyway, for problems which we haven't solved before - for which we don't know the right way of solving, we haven't
    exercise that way before and we need to find it - we need new way of thinking. This new way of thinking may be found
    way more easily in the diffuse mode. That's when we think that we are "not thinking". Our brain works all the time
    unconsciously or consciously so we are thinking all the time! In this diffuse mode we may experience interesting
    moments sometimes when in our head suddenly comes up an answer, an idea, a concept which we haven't think before.
    A new way of thinking, this happens to everybody, even some of the brightest minds in human history.
  p For example Salvador Dalí had very special way of using this concept though it was not known at that time. He used
    to lay in his chair with his keys in his hand which hang above the floor and while falling asleep he wasn't really
    concentrating on anything in particular. So he was totally in diffused mode. When he was falling to sleep more and
    more the keys fell out of his hand and it woke him up with all the strange new conceptual broad ideas still in his
    mind ready to be used for focused mode. Surprisingly Thomas Edison had a very similar habit. He used to sit in his
    chair with ball bearings in his hand and while falling asleep his brain in diffuse mode would come up with new
    solutions to what was in his mind at the time. Again when the ball bearings would fell on the floor with a loud
    sound he would wake up and use the ideas in focused mode. They both were just vaguely thinking about some previous
    work.
  h4 Mini-testing and recall
  p One concept I especially like is about mini-testing and recall. It basically says that the synapsis in your brain
    connect mostly when you are trying to recall the concepts you were learning before. According to the information in
    the course one hour of mini-testing is more efficient than one hour of reading about the matter.
  p For example when I am learning new words in some language I am using a site which helps me to test myself. I began
    using #{link_to 'memrise', 'http://www.memrise.com/'} and I saw some good results. There are more sites like that.
  p Mini-testing and recall is considered way better than for example rereading the matter or highlighting important
    sentences in the cover material which is considered rather a waste of time and often creates an illusion of
    competence (when you think you understand something but in fact you don't).
  h4 Overlearning
  p When you understand something, you have practiced it, you have exercised it and you anyway learn it more (not more
    deeply), it is called overlearning. It has one advantage and one disadvantage generally. advantage is that are
    automating the use of that concept you are learning about. The disadvantage is that you often just waste your time
    unless you want to be able to use that concept without thinking and that you create in your brain such a strong
    neural pattern for solving related problem that you may be unable to find other solution to that problem and you may
    find yourself overusing the solution pattern you are learning even when other solution would be better.
  h4 Deliberate practice
  p The contrary of overlearning is deliberate practice when you are searching in the topics for the most complex and
    hardest to understand concepts and those you are trying to conquer. This is a good way of making yourself proficient
    in the topic generally as the hardest concepts serve often to connect the basic concepts and use them together and
    combine them. It eliminates a lot of illusions of competence when you search for parts of the topic which make you
    try hard to solve them.
  h4 Interleaving
  p A concept of learning when you switch from one topic to some other just slightly related topic and back and to other
    topics similarly. It may seem strange but this is considered a very good practice. It eliminates a lot of illusions
    of competence by testing your readiness to link the topics together and use them as a whole. Especially when the
    understanding of the topics matters a lot this is very useful.

