<h3>Thank you for contacting us!</h3>

<p>
    Your message:
</p>
<p>
  <%= @message.content %>
</p>
<p>
    has been received. We will contact you as soon as we process your message.
</p>
<p>
    Best regards,
    JOT
</p>
