footer.navbar.navbar-fixed-bottom.navbar-inverse
  .container
    nav
      ul.nav.navbar-nav.pull-right
        - sphere = get_sphere
        li #{link_to 'About', send("#{sphere}_about_path")}
        li #{link_to 'Contact', send("#{sphere}_contact_path")}